body{
    font-family: 'Montserrat';
    background-color: #302D40;
}

section{
    margin-bottom: 50px;
}

/* navbar */
.navbar {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 115px;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    margin-left: 60px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FFCD4B;
}
.navbar-light .navbar-nav .active > .nav-link {
    color: #FFCD4B;
}
/* end navbar */


/* section header */
#section-header{
    height: 760px;
    background: linear-gradient(180deg, #1E1B25 3.83%, #1E1B25 94.13%);
}


#header-text{
    letter-spacing: 2px;
    margin-top: 500px;
    font-style: normal;
    margin-left: -60px;
    color: #fff;
}
#header-text h3{
    font-weight: bold;
    font-size: 57px;
    line-height: 68px; 
    text-transform: uppercase;
}

#header-text span{
    color: #FFCD4B;
}

#header-text h4{
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

#header-text a{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration-line: none;
}

#header-text a:hover{
    font-weight: bold;
    color: #FFCD4B;
}

#header-text a img{
    padding-left: 5px;
}

#header-image{
    float: right;
    margin-left: -470px;
}
/* end */

/* featured artist */
#section-featured h3{
    font-weight: bold;
    font-size: 80px;
    line-height: 90%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFCD4B;
    
}

#section-featured .featured-title{
    margin-top: 200px;
    z-index: 2;
}

#section-featured .featured-title .artist-text{
    margin-left: 200px;
}

#section-featured .featured-content{
    position: relative;
    z-index: 1;
}
#section-featured .featured-content .featured-artist{
    width: 350px;
    height: 600px;
    float: right;
    margin-bottom: 30px;
    margin-right: 15px;
}

#section-featured .featured-content .featured-artist img{
    position: relative;
    z-index: 1;
}

#section-featured .featured-artist .featured-text{
    text-align: center;
    z-index: 2;
    margin-top: -200px;
    position: absolute;
    padding: 10px ;
}

#section-featured .featured-artist .featured-text p{
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #D5D0D0;
}
#section-featured .featured-artist .featured-text h4{
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #ffffff;
    width: 96%;
}
/* end */

/* list-artist */
    /* listen */
    #list-artist #listen{
        width: 1114px;
        height: 146px;
        position: relative;
        padding: 10px 10px;
    }
    #list-artist #listen .listen-text{
        color: #FFFFFF;
        float: right;
        text-align: right;
        position: absolute;
        top: 25%;
    }
    #list-artist #listen .listen-text h4{
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
    }
    #list-artist #listen .listen-text a{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF
    }
    /* end */

    /* artist */
    #list-artist #artist{
        margin-top: 100px;
    }
    #list-artist #artist .artist-content{
        margin-bottom: 30px;
        width: 540px;
        height: 300px;
    }
    #list-artist #artist .artist-content{
        position: relative;
    }

    #list-artist #artist .artist-content .artist-content-text{
        position: absolute;
        top: 60%;
        text-shadow: 1px 1px  black;
    }
    #list-artist #artist .artist-content .artist-content-text p{
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #E6E6E6;
        margin-top: 10px;
    }
    #list-artist #artist .artist-content .artist-content-text h4{
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: -10px;
    }
    /* end */
/* end */

/* footer */
footer{
    background-color: #23202B;
    color: #ffffff;
    padding-top: 50px;
}
footer .fa{
    width: 28px;
    height: 20px;
    margin-right: 10px;
}
footer h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}
footer p{
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 30px;
}
footer h4{
    font-size: 24px;
    line-height: 29px;
}
footer .col-md-6{
    float: right;
}
footer .copyright{
    text-align: right;
    margin-top: 200px;
}
/* end */